# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
env/
venv/
*.env

# Node
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json
/dist
/.vite

# Editor
.vscode/
.idea/
.DS_Store

# Local Render CLI
render.exe
render-cli.zip
